spring:
  application:
    name: Journal App
  datasource:
    url: jdbc:postgresql://localhost:5432/JournalApp
    username: postgres
    password: kumarV@08
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 9090
  servlet:
    context-path: /journal

logging:
  level:
    org:
      springframework:
        security: DEBUG